body{
  background-color: orange;
  text-align: center;
}
}

.main {
  font-family: arial;
  padding: 25px;
  margin-top: 40px;
  font-size: 4.0em;
}

#output {
  font-size: 8.0em;
  width: 43%;
  height: auto;
  background-color: white;
  border: 2px solid black;
  margin-right: auto;
  margin-left: auto;
  margin-top: 45px;
}

.btn {
  margin-top: 40px;
  font-size: 1.8em;
  display: inline-block;

}